@font-face {
    font-family: 'Berkeley Mono';
    src: url('BerkeleyMono-Regular.woff2') format('woff2'),
        url('BerkeleyMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Berkeley Mono';
    src: url('BerkeleyMono-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}